.background-image {
    background-image: url('/home/ninjatech/Desktop/Live_Project/Finance_Tracking_System/src/assets/BackGroundImage.png');
    background-size: cover;
    background-position: center;
    min-height: 110vh;
    padding-top: 10px;
  }


.box-Container{
    padding: 0px;
    margin-top: -11px;
    margin-left: 240px;
    width: 78%;
}

.Add-button{
    border-radius: 33px;
    height: 60px;
    max-width: 258px;
    margin-left: 79% !important;
    margin-top: 46px !important;
}