.background-image {
    background-image: url('/home/ninjatech/Desktop/Live_Project/Finance_Tracking_System/src/assets/BackGroundImage.png');
    background-size: cover;
    background-position: center;
    min-height: 110vh;
    padding-top: 10px;
  }


.box-Container{
    padding: 0px;
    margin-top: -11px;
    margin-left: 250px;    
    width: 78%;
}

.edit-icon {
  margin-left: -70px;

  }


.Action{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.table-row{
  font-weight: bold !important;
}

.loader2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #1b1b2f;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-left: 49%;

}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 